{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>Ukrainian officials say a hospital complex in the besieged southeastern port city of Mariupol has been hit by a Russian attack.
President Volodymyr Zelenskyy has denounced the incident as an “atrocity” and reiterated a call for Kyiv’s allies to impose a no-fly zone over Ukraine.
Kyiv has called for an immediate ceasefire around the defunct Chernobyl nuclear power plant amid a power cut at the site.
Russia’s defence ministry has admitted that some conscripts were deployed to Ukraine, days after President Vladimir Putin denied that was the case.</h1>
{% endblock %}