{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <style>


section.s1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
   border-style: ridge;
   margin-left:50px;
   margin-right:50px;
    margin-top:100px;

	background: #89ABE3FF;
	border-radius:20px;
}









    </style>
</head>
<body class="cd2">

		 <button style="margin-top:100px;margin-left:50px;" type="button" class="btn btn-primary" >Tools</button>
		<section class="s1">
			<p>
				<img style="width:80px;height:100px;" src="https://cdn.pixabay.com/photo/2016/09/21/04/46/barley-field-1684052__480.jpg">
				Some of the farmers cannot afford to purchase the tools for the high price
				for cultivating their land. Purchasing of tools makes them burden to invest
				because already they are investing on seeds, pesticides, etc.. This website
				provides you the tools for rent to cultivate the land. This feature helps them a lot.
				The charges for tools are based on their interest. For example, the farmers can take tools
				for rent by selecting packages that are available (number of hours or days).
			</p>
		</section>

</body>




{% endblock %}